.list-todo-container {
    button {
        cursor: pointer;
        font-weight: bold;
        letter-spacing: -1px;
    }
    .add-todo {
        input {
            width: 400px;
            height: 30px;
            font-size: calc(5px + 2vmin);
            text-align: center;
        }
        button {
            margin-left: 10px;
            height: 35px;
            font-size: calc(5px + 2vmin);
            padding-bottom: 5px;
        }
    }
    .list-todo-content {
        width: 500px;
        margin: 20px auto;
        // border: 1px solid whitesmoke;
        .todo-child {
            &:first-child {
                border-top: 1px solid whitesmoke;
                padding-top: 10px;
            }
            height: 40px;
            border-bottom: 1px solid whitesmoke;
            margin-top: 10px;
            .btn-edit {
                margin: 0 10px;
                height: 30px;
                font-size: calc(3px + 2vmin);
            }
            .btn-delete {
                height: 30px;
                font-size: calc(3px + 2vmin);
            }
            span {
                input {
                    width: 200px;
                    height: 25px;
                    font-size: calc(3px + 2vmin);
                    font-style: oblique;
                    text-align: center;
                }
            }
        }
    }
}
